
.titleBlock{
    font-size: 14px;
    line-height: 16px;
    color: #929292;
    font-family: Roboto-Regular;
}

.paddingBlock{
    padding: 8px;
    font-size: 14px;
    line-height: 16px;
    font-family: Roboto-Regular;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titleBlockRange{
    margin-top: 10px;   
}



.paddingBlock span{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    
}