@font-face {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/Gilroy/Gilroy-Bold.ttf');
}
@font-face {
    font-family: 'Gilroy-SemiBold';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/Gilroy/Gilroy-SemiBold.ttf');
}

@font-face {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/Gilroy/Gilroy-Medium.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/Roboto/Roboto-Regular.ttf');
}

.appInner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.map{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
}

.sidebarInner{
    margin: 0 0 0 calc(0px - 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: auto;
    height: 100vh;
    overflow: auto;
    background: #F2F2F2;
    transition: all 0.3s ease;
}

.sidebarInner.active{
    margin: 0 0 0 0;
}

.hide{
    transform: translateY( calc(100vh - 150px) );
}

.content{
    position: relative;
    width: 100%;
}

.btnSidebarHide{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    right: 40px;
}

.btnSidebarHide i{
    cursor: pointer;
    font-size: 22px;
    transition: all 0.3s ease;
}

.btnSidebarHide.active i{
    transform: rotate(-180deg);
    cursor: pointer;
    font-size: 22px;
}

.btnSidebarOpen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(38, 38, 38, 0.5);
    border-radius: 4px;
}

.btnSidebarOpen i{
    cursor: pointer;
    font-size: 22px;
}

.btnSidebarClose{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.btnSidebarClose i{
    cursor: pointer;
    font-size: 16px;
}

.login,
.privateOffice{
    position: absolute;
    top: 10px;
    right: 52px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    cursor: pointer;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0 1px 3px 0 rgba(38, 38, 38, 0.5);
    border-radius: 4px;
}

.privateOffice{
    display: flex;
    align-items: flex-start;
    flex-flow: column nowrap;
}

.login i,
.login span,
.privateOffice span{
    font-size: 22px;
    font-weight: bold;
}

.login span{
    font-size: 17px;
    margin-left: 5px;
}

.privateOffice span{
    font-size: 17px;
}

.dropDown{
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column nowrap;
    transition: height 0.3s ease;
}

.privateOffice:hover .dropDown{
    display: flex;
}

.coordsMe{
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    position: absolute;
    top: 200px;
    right: 200px;
    z-index: 2000;
    cursor: pointer;
}