*,
*:after,
*:before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  margin:0;
}

a{
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link{
  padding: 0.5rem !important;
  margin-top: 20px !important;
}

.p-tabview-title{
  font-size: 14px !important;
  line-height: 19px !important;
  font-family: Roboto-Regular;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
  color: black !important;
  border-color: #3B57EA !important;
  border-radius: 3px;
}

.p-tabview .p-tabview-panels{
  padding: 0 !important;
  padding-top: 0.5rem !important;
}
